APP_PORT=8090
APP_NAME=golang-rest-api

JWT_RSA_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nBLABLABLA/u\nBLABLABLA\nBLABLABLA\n-----END PRIVATE KEY-----"
JWT_RSA_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----nBLABLABLA/u\nBLABLABLA\nBLABLABLA\n-----END PUBLIC KEY-----"

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=
DATABASE_MAX_OPEN_CONN=
DATABASE_MAX_IDLE_CONN=
DATABASE_MAX_LIFE_TIME=